<!DOCTYPE html>
<html>
<body>
<h1>Welcome to Chunker!</h1>
<h2>3 Quick Steps</h2>
<h3>Step 1: Upload File</h3>
<form method="post" enctype="multipart/form-data">
  <input type="file" name="file">
  <h3>Step 2: Choose how you want to chunk your file</h3>
  <label><input type="radio" name="chunk_type" value="words">words</label>
  <label><input type="radio" name="chunk_type" value="chars">characters</label>
  <h3>Step 3: Choose how many words or characters you want to chunk by</h3>
  <input type="number" name="chunk_size">
  <input type="submit" value="Chunk">
</form>

</body>
</html>